**Score:** 86/100

# Homework 2

> Andrick Mercado

> 2/18/2021


---

**Problem 1**

$$ \int{\sec^3(x)\, dx} = \int{\sec(x) \cdot \sec^2(x)\, dx } $$
$$ Let \,u=\sec{(x)}, \, dv=sec^3(x),\, du = \sec(x) \tan(x)\,dx, v = \tan(x) $$
$\text{Now, } $
$$= \sec(x)tan(x)-\int{\tan^2(x)\sec(x)\,dx} $$
$$= \sec(x)\tan(x)-\int{(\sec^2(x)-1)\sec(x)\,dx} $$
$$= \sec(x)\tan(x)-\int{\sec^3(x)-\sec(x)\,dx} $$
$$= \sec(x)\tan(x)-\int{\sec^3(x)\,dx}+\int{\sec(x)\,dx} $$
$$= \int{\sec^3(x)\, dx} = \sec(x)\tan(x)-\int{\sec^3(x)\,dx}+\int{\sec(x)\,dx}  $$
$$= \int{\sec^3(x)\, dx} +\int{\sec^3(x)\, dx} = \sec(x)\tan(x) + \int{\sec(x) \,dx}  $$
$$= 2\int{\sec^3(x)\,dx} = \sec(x)\tan(x) + \int{\sec(x) \,dx} $$
$$=\frac{1}{2}( \sec x \tan x +\ln|\sec x+\tan x|)+ C $$
$$ $$
$\text{ Using the Reciprocal and  Quotient identities, }$

$$ \qquad \sec \theta = \frac{1}{\cos \theta }, and \, \tan \theta = \frac{\sin \theta }{\cos \theta }$$
$$ $$
$$\text{We get, }\qquad \ln|\sec x+\tan x| = \ln\left\lvert \frac{1}{\cos x}+ \frac{\sin x}{\cos x}\right\rvert = \ln\left\lvert \frac{1+\sin x}{\cos x}   \right\rvert = \ln|1+\sin x|-\ln|\cos x|$$
$$ $$
$\text{With this we say,}  $
$$ \int{\sec^3(x)\, dx} = \tfrac{1}{2} \sec x \tan x +\tfrac{1}{2}\ln|1+\sin x|-\tfrac{1}{2} \ln|\cos x|+ C  $$

**Score:** 8/10
* Don't forget `\ln`.
* Equal signs are a thing.

**Problem 2**
$$ $$
$ \sum_{n=0}^\infty3(\frac{1}{2})^n  = 3\sum_{n=0}^\infty(\frac{1}{2})^n $

Since the ratio is one half, |ratio| < 1 which means it converges were its value is given by, $ \frac{first \,term}{1-ratio}$ in which we get $ \frac{1}{\frac{1}{2}} = 2$
$$ $$
By this we see that $ 3\sum_{n=0}^\infty(\frac{1}{2})^n = 3\cdot 2 = 6$

**Score:** 10/10

**Problem 3**

Similar to question 2 we begin by calculating the ratio since |ratio|< 1, we get the series value by $ \frac{first \,term}{1-ratio} = \frac{(\frac{1}{2})^3}{\frac{1}{2}} = \frac{1}{4}$

From this we conclude that,  $3\sum_{n=3}^\infty(\frac{1}{2})^n = 3 \cdot \frac{1}{4} = \frac{3}{4}$

**Score:** 10/10
* Your answer is correct but does not follow the directions.

**Problem 4**

$ \sum_{n=1}^{100}n \quad$ using $ \sum_{i=1}^n i =\frac{n(n+1)}{2} $, which we get $ \sum_{n=1}^{100}n = 5050 $

In [ ]:
sum = 0
for x in range (101):
  sum += x
print("The sum using python is ", sum)

The sum using python is  5050

**Score:** 10/10
* You should have used the command I provided.

**Problem 5**

In [3]:
r1 = bin(42)
r2 = bin(127)
print("The number 42 to binary is", r1, "and 127 is ",r2,"in binary." )
print("With this the addition of both binary numbers equals to", int(r1, 2) + int(r2, 2),"which is",bin(169),"in binary" )

The number 42 to binary is 0b101010 and 127 is  0b1111111 in binary.
With this the addition of both binary numbers equals to 169 which is 0b10101001 in binary

**Score:** 9/10
* What is 169 in binary?

**Problem 6**

1. For #a the line of code should store the numbers from 0 to 9, with 10 elements
2. For #b the line of code should store every number in increments of 10 on the range 0 to 99, with 10 elements
3. For #c the line of code should store every number that is one number away from every 5 counting up for instance 6 but not 4,    on the range 0 to 24, with 5 elements
4. For #d the line of code should store every number on range 0 to 49 that is 2 numbers away from 3 when divided by three and 1 number away when divided by 5, for instance possible values are 1, 6, 11, 21 but with %3 == 2 only a few are stored as they need to be one number away from a divisible of 5, and at the same time when divided by 3 have a remainder of two, with 3 elements

In [ ]:
numbers = [ x for x in  range(10) ]
print("#a",numbers)
numbers = [ x for x in  range(0 ,  100 ,  10) ]
print("#b",numbers)
numbers = [ x for x in  range(25) if x%5==1]
print("#c",numbers)
numbers = [ x for x in  range(50) if x%5==1 and x%3==2]
print("#d",numbers)

#a [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#b [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
#c [1, 6, 11, 16, 21]
#d [11, 26, 41]

**Score:** 6/10
* How many elements are in each list?

**Problem 7**

1. A list unlike an array is composed of a flexible size, that does not have to be stated. In order to acess firts object in a list we call the list by its name and index such as array[1] where indexing starts at 0 and not at 1. We can acess the last element in a list by typing its name followed by -1, array[-1].
Now a list is started with any given name as long as is not taken if not it will overlap and potentially cause errors, example test = [123, "fdff", 'eee']. Where it can take any object and take strings with " or '.
2. A tuple is the array implementation of python, or atleast very similar in the sense of its size, and how once initiated to a certain size it does not change or accpet new objects, indexed by starting at 0.
Example is array = ("111",'111',111), where it has 3 elemnents indexed 0, 1 ,2 respectively, and if attempted to call array[3] would cause an error as it is not part of the array.
3. A set is unlike the other two data structures in the sense that they dont have duplicates and its accesing time is constant meaning quick and efficient, however its elemnts are not arranged in any particular order as they are unindexed. Example is thisset = set([["1",'a',23]]), where it is not indexed as elements in sets implement a hash table which uses linked list hence the reason why index is not accesible.

In [5]:
test = 123, "fdff", 'eee'
array = ("111",'111',111)
thisset = set(["1",'a',23])
print("List:",test)
print("Tuple:", array)
print("Set:", thisset)

List: (123, 'fdff', 'eee')
Tuple: ('111', '111', 111)
Set: {'1', 'a', 23}

**Score:** 7/10
* Please give your examples in Python code.

In [ ]:
## Problem 8
randomList = [12,345,2,6,7896]
counter = 0
for x in range(len(randomList)):
  if randomList[x]%2==0:
    counter +=1
    print(randomList[x],"is even")
print("Total Number of evens in List:",counter)

12 is even
2 is even
6 is even
7896 is even
Total Number of evens in List: 4



*   The way I arrived to my answer was by iterasting through the list and than using modulo to find every number that is divisible by 2 and whos remainder is 0, with time complexity of O(n)

**Score:** 10/10
* Nice

In [8]:
## Problem 9
fruit = ('apple','banana','cherry')
print("List (Tuple) of fruits:")
for x in fruit:
  print(x)
vegetables = ("Artichokes", 'Asian greens', "Beans", 'Beetroot')
print("\nList (Tuple) of vegetables:")
for x in vegetables:
  print(x)

List (Tuple) of fruits:
apple
banana
cherry

List (Tuple) of vegetables:
Artichokes
Asian greens
Beans
Beetroot

**Score:** 6/10
* Reproduce the fruit tuple from lecture.

In [ ]:
## Problem 10

dictionaryA = {}
dictionaryA["Martin Luther"] = {"age": 123, "phone": 6198223333, "favCol": "green"}
dictionaryA["Snaggy Mo"] = {"age": 34, "phone": 6198623443, "favCol": "purple"}
print(dictionaryA)

## Another implementation
bandrick = {"age":12,"phone":619344556,"favCol": "blue"}
dictionaryB = {"bandrick": bandrick}
print(dictionaryB)

{'Martin Luther': {'age': 123, 'phone': 6198223333, 'favCol': 'green'}, 'Snaggy Mo': {'age': 34, 'phone': 6198623443, 'favCol': 'purple'}}
{'bandrick': {'age': 12, 'phone': 619344556, 'favCol': 'blue'}}

**Score:** 10/10